<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>
  <body>
    Hello world!
    <br />

    <form method="POST">
      {% csrf_token %}
      {{ form }}
      <button type="submit">submit</button>
    </form>

    <ul>
      {% for person in absen %}
      <li>{{ person.nama }} - {{ person.npm }}</li>
      {% endfor %}
    </ul>
  </body>
</html>
